body{
	background-color:#fff;
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	
}
#container{
	color: rgb(111, 110, 110);
	padding-left: 10%;
}

#header{
	padding-left: 28%;	
}
#img_logo{
	width: 500px;
}

#main{
	font-weight: 300;
}
#descripcion{	
	text-align: center;	
	font-size: 20px;
	padding-right: 20%;
	padding-bottom: 20px;
}

#suscribe{
	float: inherit;
	width: 500px;
	background-color:  rgb(184, 5, 69);
	color: #fff;

	padding: 25px 15px 25px 15px;
	
     	left:50%;
     	margin:0 0 0 20%;
}

#suscribe p{
	font-size: 15px;
}

#info{
	padding-top: 15%;
	padding-left: 5%;
	
	position: absolute;
}
#cont{
	padding-left: 10%;

}
.info-tit{
	color: rgb(255, 114, 103);
	text-align: center;
}
.mpo{
	width: 322.6px;
	float: left;
	float: left;
}
.mpo p{
	width: 292.6px;
	font-size: 12px;
	color: #625e58;
	text-align: justify;
	padding: 15px 15px 15px;
}
#footer{
	
	padding-top: 30%;
}
#footer p{
	text-align: center;
}



input[type="email"]{
	border:1px solid #ccc;
	padding:6px 4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font:13px "Open Sans",Arial,sans-serif;
	color:#777;
	margin:0;
	width:210px;
	max-width:100%;
	margin-bottom:20px;
	background:#fff;
	position: static;

}



input[type="submit"]{
	background:#42BA5D;
	border-left:none !important;
	color:white;font-size:16px;
	font-style:"normal";
	text-transform:uppercase;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}